{% extends 'base.html.njk' %}

{% block title %}Most Liked Fossils for Doctors{% endblock %}

{% block body %}
    
    <h1>Welcome, Dr. {{ drName }}</h1>

    {% for fossil in fossils %}  
    <div class="fossil-div">
      <h3>Dr. {{ drName }} this is a {{ fossil.name }}</h3>
      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{ fossil.img }}" />
    </div>
    {% endfor %}
  {% endblock %}
